__pycache__/
.vscode/
.ipynb_checkpoints/
.DS_Store
miditoolkit.egg-info/
@eaDir
*.pyc
*.pypirc
Thumbs.db
*.gz
*.midi
*.wav
my_midi_data_checkpoint/
my_midi_data_finetune/
REMI-finetune/
REMI-tempo-checkpoint/
REMI-tempo-chord-checkpoint/